.registerBg{
    background-image: url('https://preview.redd.it/sve2ienm0zs41.jpg?auto=webp&s=a7d45d1e00b678074d9842404024b33ceb7dfecf')
    ;
    background-position:center ;
}

.wbBg{
    background-image: url('https://preview.redd.it/sve2ienm0zs41.jpg?auto=webp&s=a7d45d1e00b678074d9842404024b33ceb7dfecf');
    background-position:center ;
}